/project/db-data
/authentication-service/authenticationApp
/authentication-service/app.env
/authentication-service/keys
/broker-service/brokerApp
/broker-service/app.env
/broker-service/keys
/mail-service/mailerApp
/mail-service/app.env
/logger-service/loggerApp
/logger-service/app.env
/listener-service/listenerApp
/listener-service/app.env
/payment-service/paymentApp
/payment-service/app.env
/posts-service/postsApp
/posts-service/app.env